.html-introduction {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
  }
  
  .html-introduction h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .html-introduction pre {
    background-color: #3c3c3c;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
  }

  
  .html-page h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .html-page p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    max-width: 600px;
  }

    
  .html-slider {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    padding: 20px;
  }
  
  .html-page {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .html-slider-buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:disabled {
    background-color: #ccc;
    color: #333;
    cursor: not-allowed;
  }