/* Style for HTML content section */
.html-content {
max-width: 800px;
margin: 0 auto;
padding: 40px;
}

.html-content h2 {
font-size: 32px;
font-weight: bold;
margin-bottom: 20px;
}

.html-content p {
font-size: 18px;
line-height: 1.5;
margin-bottom: 20px;
}

.html-content h3 {
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
}
.task{
  margin-bottom: 1em;
}

/* Style for page navigation section */
.pagination {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: rgb(149 149 142);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pagination li {
  display: inline-block;
  margin-right: 5px;
  margin: 0 5px;
}
.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 5px;
  padding: 3px 6px;
  border-radius: 3px;
  border-bottom: none;
  font-size: 14px;
}
.pagination li a:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}
.pagination li a:active{
  color:antiquewhite;
}
.pagination li.active a {
  font-weight: bold;
}
.pagination li:last-child {
  margin-right: 0;
}

.w3link a{
  font-size: 16px;
}

