.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(189, 183, 183, 0.5);
  box-shadow: 0px 0px 15px rgba(209, 188, 188, 0.5);
  color: white;
  width: 30%;
}

.register-form h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.register-input {
  margin-bottom: 20px;
  width: 100%;
  max-width: 350px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(194, 185, 185, 0.7);
  color: black;
  font-size: 1.2rem;
}

.register-input:focus {
  outline: none;
}

.register-button {
  margin-top: 30px;
  width: 100%;
  max-width: 350px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #17a2b8;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.register-button:hover {
  background-color: #138496;
}
