.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
  
}

.register-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 50px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 32px;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 10px;
}

.register-input {
  margin-bottom: 20px;
  width: 100%;
}

.register-input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.register-button {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 10%;
  text-transform: none;
  border-radius: 15px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.social-media-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #f2f2f2;
  transition: all 0.3s ease-in-out;
  margin: 10px;
}

.social-media-icon:hover {
  transform: scale(1.2);
  background-color: #e0e0e0;
}

@media (max-width: 600px) {
  .register-card {
    padding: 30px;
  }
}
