.footer {
  background-color: #222;
  color: #fff;
  padding: 50px 0;
}

.footer h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footer p {
  font-size: 14px;
  line-height: 20px;
}

.footer a {
  color: #fff;
  white-space: nowrap;
}

.footer a:hover {
  color: #17a2b8;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row; /* Changed from column to row */
}

.footer ul li {
  margin-right: 20px; /* Added margin-right to create space between links */
}

.footer hr {
  border-top: 1px solid #444;
}

.footer .text-center {
  font-size: 14px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }

  .footer .col-md-6 {
    flex-basis: auto;
    flex-grow: 1;
    flex-wrap: nowrap;
    margin-left: 15px;
  }
}
.quick h3{
  margin-left: 180px;
}
